$body-font-size: 1.6rem !default;

$primary: #000000 !default;
$secondary: #263238 !default;

$text-color: snow !default;

$transition: 0.5s ease-in-out !default;

$breakpoints: (
  'xxl': 87.5rem,
  'xl': 75rem,
  'lg': 62rem,
  'md': 48rem,
  'sm': 36rem,
) !default;

$base-url: '/' !default;