$body-font-size: 1.6rem;

$text-color: #ffffff !default;
$dark: #1d1d1d;

$button-transition: 0.5s ease-in-out;

$breakpoints: (
  'xxl': 87.5rem,
  'xl': 75rem,
  'lg': 62rem,
  'md': 48rem,
  'sm': 36rem,
) !default;

$base-url: '/' !default;
